<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicted Salary</title>
   <style>
       #reload{
        text-align: center;
        font-weight: bold;
       }
   </style>
</head>
<body style="background-color:rgb(238, 227, 78);">
    <div  style="text-align: center;">
        <h1 style="padding-top: 5cm; font-weight:bold;color:palevioletred;">Income Prediction Form</h1>
        <h4 style="color:black; font-weight: bold;">Your Salary is</h4>
        <h2 style="color:blue;font-weight: bold; padding: 1cm;">Rs.{{ps}}</h2>
    </div>
    <div id="reload">
        <a style="color:darkcyan;" href="/" >Click Here for New Prediction </a>

    </div>
</body>
</html>