<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Prediction</title>
</head>
<body style="background-color: aquamarine;text-align: center;">
    <h1 style="padding-top: 5cm; font-weight:bold;">Income Prediction Form</h1>
    <h4 style=" color: white; font-weight: bold;">Enter your Experience in years</h4>
    <p id={{ps}} style="color: red;font-weight: bold;"></p>
    <form action="/" method = "post">
      <p style="padding: 1cm;"><input type="text" name ="nm"  style="text-align: center;"/></p>
      <p><input type="submit" value= "submit"/></p>
    </form>

    <script>
      document.getElementById("demo").innerHTML = "Enter valid a Experience!";
    </script>

    <script>
      document.getElementById("null").innerHTML = "Enter a value before submit!";
    </script>
    <script>
      document.getElementById("alp").innerHTML = "Enter a numerical value!";
    </script>

</body>
</html>